@import "tailwindcss";
@import "tailwindcss/utilities";


:root {
  --background-homepage: #A6BB7E;
  --background-login-shop-pages: #3C4B0A;
  --background-info-product: #F8E6C8;
  --background-info-login: #fff;
  --default-text: #fff;
  --highlighted-text: #3C4B0A;
  --login-text: #000;
  --button-pages: #677146;
  --button-login: #3C4B0A;

  --font-julius: 'Julius Sans One', sans-serif;
  --font-josefin: 'Josefin Slab', serif;
  --font-josefin_sans: 'Josefin Sans', serif;
}

.julius_Sans_One {
  font-family: var(--font-julius);
}

.josefin_Slab{
  font-family: var(--font-josefin);
}

@theme inline{
  --color-background-homepage: var(--background-homepage);
  --color-background-login-shop-pages: var(--background-login-shop-pages);
  --color-background-info-product: var(--background-info-product);
  --color-background-info-login: var(--background-info-login);
  --color-default-text: var(--default-text);
  --color-highlighted-text: var(--highlighted-text);
  --color-login-text: var(--login-text);
  --color-button-pages: var(--button-pages);
  --color-button-login: var(--button-login);
}